<div class="user-profile">
  <div>
    <%= link_to "Go to home page", root_path %>
  </div>
  <br>
  <div class="profile-header">
    <h1>Welcome, <%= @user.name %>!</h1>
  </div>
  <div class="profile-details">
    <p><strong>Email:</strong> <%= @user.email %></p>
  </div>
</div>
